#site-header {
  border-radius: 5px;
  text-align: center;
  border: double;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 128px;
  background-color: rgba(255, 255, 255, 1.0);
}

#site-body {
  border-radius: 5px;
  text-align: center;
  border: double;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: rgba(255, 255, 255, 1.0);
}

#aintro {
  background: url("../images/aintro.png") no-repeat;
  cursor: pointer;
  border: none;
  width: 64px;
  height: 64px;
}

#aintro:hover {
  background: url("../images/aintro-active.png") no-repeat;
}

#aintro:active {
  background: url("../images/aintro-active.png") no-repeat;
}

body {
  background-color: rgba(0, 0, 0, 0.25);
}
